@font-face {
    font-family: 'CustomFont';
    src: url('222.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    text-align: center;
    background-color: #4d4a48; /* 深灰色背景 */
    color: #f7f1b3; /* 字体颜色为淡黄色 */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 让容器充满屏幕高度 */
}

#loginTitle, #gameRules h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.container p, #gameRules p {
    font-size: 16px;
    line-height: 1.5;
    margin: 15px 0;
    text-align: center; /* 确保文字居中 */
}

input, button {
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: calc(16px + 0.5vw);
    padding: 15px 20px;
    width: 80%;
    max-width: 300px;
    margin: 20px 0;
    color: #f7f1b3;
    background-color: #4d4a48;
    border: 1px solid #f7f1b3;
    border-radius: 5px;
    cursor: pointer; /* 鼠标悬停时变为手型 */
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #e0f7fa;
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}

#endScreen {
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 子元素按列排列 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    position: fixed; /* 让背景覆盖整个屏幕 */
    top: 0;
    left: 0;
    width: 100vw; /* 宽度为视口宽度 */
    height: 100vh; /* 高度为视口高度 */
    background-color: #f7f1b3; /* 浅黄色背景 */
    color: #4d4a48; /* 灰色文字 */
    text-align: center; /* 文本居中 */
}

    #endScreen h1 {
        font-size: 64px; /* 与登录界面标题一致 */
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
    }

    #endScreen p {
        font-size: 16px; /* 与登录界面段落一致 */
        margin: 15px 0;
        line-height: 1.5;
    }
#finalScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 占满屏幕宽度 */
    height: 100vh; /* 占满屏幕高度 */
    background-color: #f7f1b3; /* 浅黄色背景 */
    color: #4d4a48; /* 灰色文字 */
    text-align: center;
}

    #finalScreen h1 {
        font-size: 30px; /* 显示解雨臣的话 */
        margin: 0;
        margin-bottom: 20px;
    }

    #finalScreen img {
        max-width: 90%; /* 图片宽度适应屏幕 */
        height: auto; /* 保持图片比例 */
        margin-top: 20px;
    }

